.sidepanel {
    position: fixed;
    top: 60px;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 340px;
    z-index: 5;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #212121;
    }
    &__social {
        height: 150px;
        width: 25px;
        span {
            transform: rotate(-100grad) translate(-30%, -260%);
            display: block;
            width: 150px;
            color: #212121;
        }
    }
    &__link svg {
        transition: ease-in 750ms;
        //width: 22px;
        //height: 22px;
        &:hover {
            transition: ease-in 750ms;
            transform: rotate(90deg);
        }
    }
}
.svg_github svg {
    fill: #212121cc;
    &:hover {
        fill: #0f0f0f;
    }
}

.svg_facebook svg {
    fill: rgb(50, 91, 205);
    &:hover {
        fill: #21212180;
    }
}

.svg_instagram svg {
    fill: rgba(189, 27, 221, 0.473);
    &:hover {
        fill: #21212180;
    }
}

.svg_telegram svg {
    transform: rotate(-90deg);
    fill: #ffffff;

    &:hover {
        fill: #21212180;
        transform: rotate(0deg);
        circle {
            fill: #21212180;
        }
    }
}
